.alignme{

    position:absolute;
    right:0 

}
.label_centrado {
    display: flex;
    justify-content: center;
}

ion-list-header{
    display:block;
    text-align: center;
}

.centrar {
    padding-left: 20%;
}