<ion-card style="padding: 10px;">
  <h1>Dados Cadastrais</h1>
  <h2>Seus dados de cadastro estão aqui.</h2>
  <p>&nbsp;</p>
  <h3>Use o botão abaixo para ir para seus cadastros</h3>
  <p>&nbsp;</p>
  <img src="assets/cadastro_e.png" (click)="goCadastro()" style="cursor: pointer;">
  <p>&nbsp;</p>
  <ion-button (click)="goCadastro()" color="success" shape="round" style="width: 100%; text-align: center; padding-left: 25%; padding-right: 25%;">
    Cadastro
  </ion-button>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</ion-card>
