<ion-header>
  <ion-toolbar>
    <ion-title>Entregador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs selectedIndex="0">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="stab">
        <ion-icon name="restaurant-outline"></ion-icon>
        <ion-label>Estabel</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="entregas">
        <ion-icon name="bicycle-outline"></ion-icon>
        <ion-label>Entregas</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="dados">
        <ion-icon name="document-text-outline"></ion-icon>
        <ion-label>Seus Dados</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
