<ion-header>
  <ion-toolbar>
    <img src="assets/logo_titulo.jpg" slot="start">
    <ion-menu-button slot="start"></ion-menu-button>
    <h3 style="padding-left: 10px;">Produtos</h3>
    <ion-buttons slot="end">
      <ion-button (click)="openModalProd()">
        <ion-icon slot="icon-only" ios="call-outline" md="duplicate-outline" item-right></ion-icon>
        <ion-badge id="notifications-badge" color="success">?</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      <B>Estabelecimento</B> Meu Estabelecimento Ltda
    </ion-label>
  </ion-item>
  <ion-list>
    <ion-list-header>
      <ion-label><span style="float: right;"></span></ion-label>
      <ion-label style="width: 20%; text-align: center;">
        <span style="display: inline-block; width: 50px;">
          <ion-icon [hidden]="voltar === 0" name="arrow-back-circle-outline" style="zoom:2.0;" (click)="openModal()"></ion-icon>
          <ion-badge id="notifications-badge" color="success" (click)="openModal()">?</ion-badge>
        </span>
        <span style="display: inline-block; width: 50px;">
          <ion-icon [hidden]="mais === 0" name="arrow-forward-circle-outline" style="zoom:2.0;" (click)="openModal()"></ion-icon>
          <ion-badge id="notifications-badge" color="success" (click)="openModal()">?</ion-badge>
        </span>
      </ion-label>
      <ion-label></ion-label>
    </ion-list-header>

    <ion-list>
      <ion-item-sliding class="ion-hide-md-up">
        <ion-item>
          <ion-label>
            <span style="display: inline-block; width: 50px;">
              <B>Pizzas - Salgada:</B> 4 Queijos
              <h4>Muzzarela, catupiry, parmesão, gorgonzola: Quatro Queijos</h4>
            </span>
            <p><b>Preço:</b><span (click)="precificar(p.id)" style="cursor: pointer;">[45,00]</span></p>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="apaga(p.id)">
            <ion-icon name="trash-outline" style="zoom:2.0;"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>


      <ion-item-sliding class="ion-hide-md-up">
        <ion-item>
          <ion-label>
            <span style="display: inline-block; width: 50px;">
              <B>Pizzas - Salgada:</B> Calabresa
              <h4>Calabresa fatiada com cebola: Calabresa</h4>
            </span>
            <p><b>Preço:</b><span (click)="precificar(p.id)" style="cursor: pointer;">[49,00]</span></p>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="apaga(p.id)">
            <ion-icon name="trash-outline" style="zoom:2.0;"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list>
      <ion-item-sliding class="ion-hide-sm-down" style="padding-left: 30%; padding-right: 30%;">
        <ion-item>
          <ion-label>
            <span style="display: inline-block; width: 50px;">
              <B>Pizzas - Salgada - 4 Queijos:</B> Quatro Queijos
              <h4>Muzzarela, catupiry, parmesão, gorgonzola: Quatro Queijos</h4>
            </span>
            <p><b>Preço:</b><span (click)="precificar(p.id)" style="cursor: pointer;">[45,00]</span></p>
          </ion-label>
    
        </ion-item>
        <ion-item-options side="end" style="margin-right: 30%;">
          <ion-item-option color="danger" (click)="apaga(p.id)">
            <ion-icon name="trash-outline" style="zoom:2.0;"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding class="ion-hide-sm-down" style="padding-left: 30%; padding-right: 30%;">
        <ion-item>
          <ion-label>
            <span style="display: inline-block; width: 50px;">
              <B>Pizzas - Salgada:</B> Calabresa
              <h4>Calabresa fatiada com cebola: Calabresa</h4>
            </span>
            <p><b>Preço:</b><span (click)="precificar(p.id)" style="cursor: pointer;">[49,00]</span></p>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="apaga(p.id)">
            <ion-icon name="trash-outline" style="zoom:2.0;"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>

  </ion-list>
</ion-content>
