<ion-header>
  <ion-toolbar>
    <ion-title>Novo produto</ion-title>
    <ion-button (click)="closeModal()" slot="end" fill="clear" shape="round">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="padding: 10px;">
    <h2>Aqui você define seus produtos:</h2>
    <p>
      <b>Tipo:</b> Pizzas
    </p>
    <p>
      <b>Categoria:</b> Salgada
    </p>
    <p>
      <b>Item:</b> Quatro queijos
    </p>
    <p>
      <b>Nome:</b> Pizza 4 Queijos
    </p>
    <p>
      <b>Descrição:</b> Muzzarela, Catupiry, Parmesão e Gorgonzola
    </p>
  </ion-card>
</ion-content>