<ion-header>
  <ion-toolbar>
    <ion-title>Gestão de Equipe</ion-title>
    <ion-button (click)="closeModal()" slot="end" fill="clear" shape="round">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="padding: 10px;">
    Aqui você define a equipe de trabalho do seu estabelecimento
    <ul>
      <li>
        <h2>Atendente</h2>
        Pessoa que recebe os pedidos
      </li>
      <li>
        <h2>Entregador</h2>
        Quem entrega os pedidos
      </li>
      <li>
        <h2>Sócio</h2>
        Seus sócios no estabelecimento
      </li>
    </ul>
  </ion-card>
</ion-content>