<ion-header>
  <ion-toolbar>
    <ion-title>Config meio-a-meio</ion-title>
    <ion-button (click)="closeModal()" slot="end" fill="clear" shape="round">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-list>
      <ion-radio-group name="auto" value="cara" [(ngModel)]="metade">
        <ion-list-header>
          <ion-label>Estratégia de Preço</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Valor metade mais cara &nbsp;</ion-label>
          <ion-radio value="cara"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Valor médio metades</ion-label>
          <ion-radio value="medio"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-item>
        <ion-chip color="primary" outline="true" (click)="salvaMeio()">
          <ion-icon name="checkmark-outline"></ion-icon>
          <ion-label>Salvar</ion-label>
        </ion-chip>
      </ion-item>
    </ion-list>
  </ion-item>
</ion-content>
